# Algorithm

Find S algorithm


```
S1: Initialise h to the most specific hypothesis in H
S2: for each positive training instance x:
        for each attribute constraint ai in h:
            if the constraint ai is satisfied by x:
                do nothing
            else:
                replace ai in h by most general constraint that is satisfied by x
S3: Output the hypothesis
```

# Code

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
df = pd.read_csv("data.csv")
df.head()

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [ ]:
d = df.iloc[:,:-1]
print("The attributes are: ",d.columns.values)

target = df.iloc[:,-1]
print("The target is: ",target.values)

The attributes are:  ['sky' 'air temp' 'humidity' 'wind' 'water' 'forecast']
The target is:  ['yes' 'yes' 'no' 'yes']

In [ ]:
def trainHypothesis(c,t):
    hypothesis = [None for i in range(len(c))]
    for i, val in zip(c,t):
        if re.search("^yes$",val,re.I):
            hypothesis = i.copy()
            break
             
    for i, val in zip(c,t):
        if re.search("^yes$",val,re.I):
            for x in range(len(hypothesis)):
                if i[x] != hypothesis[x]:
                    hypothesis[x] = '?'
    return hypothesis

In [ ]:
print("The final hypothesis is:", trainHypothesis(d.values,target.values))

The final hypothesis is: ['sunny' 'warm' '?' 'strong' '?' '?']